<% start_data = JSON.generate({
                                      'title' => title,
                                      'category' => category,
                                      'projectId' => project_id.to_s,
                                      'eventId' => event_id.to_s,
                                      'hostId' => current_user.id,
                                      'hangoutId' => '',
                                      'callbackUrl' => update_from_gh_hangout_url(hangout_uid.present? ? hangout_uid : generate_hangout_id(current_user, project_id))
                              }) %>

<div id="liveHOA-placeholder"
     data-start-data='<%= start_data %>'
     data-app-id='<%= Settings.hangouts.app_id %>'>
  Please refresh the page to load the hangouts
</div>
