<% if event_instance.present? %>
  <p>
    <%= link_to event_instance.title, event_path(event_instance.event_id) %>
    <% if event_instance.start.present? && event_instance.start < Time.now %>
      is live!
      <% if event_instance.try!(:live?) %>
        <%= link_to 'Click to join!', event_instance.hangout_url %>
      <% end  %>
    <% else %>
      in <%= display_countdown(event_instance) %>
  <% end %>
  </p>
<% end %>
